.item {
    display: flex;
    gap: .3em;
    align-content: center;
    cursor: pointer;

    .icon {
        width: 1.2em;

        svg.file-icon path {
            fill: #000000;
            stroke-width: .5em;
        }

        svg.folder-icon path {
            fill: #00bcd4;
        }
    }
}

.children {
    margin-left: .55em;
    position: relative;
    overflow: hidden;

    .v-line {
        position: absolute;
        top: -1.1em;
        left: 0;
        width: .1em;
        height: 100%;
        background-color: #00bcd4;
    }

    .child {
        display: flex;
        
        .h-line {
            margin-top: .5em;
            width: 1em;
            height: .1em;
            background-color: #00bcd4;
        }
    }
}