.item {
    display: flex;
    gap: .3em;
    align-content: center;
    cursor: pointer;

    .icon {
        width: 1.2em;

        svg.file-icon path {
            stroke: #fff;
            stroke-width: .2em;
        }

        svg.folder-icon path {
            stroke: #e84624;
            stroke-width: .2em;
        }
    }
}

.children {
    margin-left: .55em;
    position: relative;
    overflow: hidden;

    .v-line {
        position: absolute;
        top: -1.1em;
        left: 0;
        width: .1em;
        height: 100%;
        background-color: #e84624;
    }

    .child {
        display: flex;
        
        .h-line {
            margin-top: .5em;
            width: 1em;
            height: .1em;
            background-color: #e84624;
        }
    }
}