.challenge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
    gap: 5%;

    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 1rem;
}