.challenge {
    background-color: #607d8b;
    display: grid;
    justify-items: center;
    align-items: center;           
    grid-template-areas: "elem";
    overflow: hidden;

    div {
        grid-area: elem;  
        background-color: white;
        width: 10%;
        height: 10%;
    }
    
    .one {
        animation: dance-1 9s linear infinite;
    }

    .two {
        animation: dance-2 9s linear infinite;
    }
    
    .three {
        animation: dance-3 9s linear infinite;
    }
    
    .four {
        animation: dance-4 9s linear infinite;
    }
    
    .five {
        animation: dance-5 9s linear infinite;
    }
    
    .six {
        animation: dance-6 9s linear infinite;
    }

    .seven {
        animation: dance-7 9s linear infinite;
    }
    
    .eight {
        animation: dance-8 9s linear infinite;
    }

    .nine {
        animation: dance-9 9s linear infinite;
    }

    .ten {
        animation: dance-10 9s linear infinite;
    }

    @keyframes dance-1 {
        0% {
            transform: translate(0, 0) scale(0.1, 0.1);
        }
        5% {
            transform: rotate(0deg) translate(0, 0) scale(1, 1);
        }
        10% {
            transform: rotate(0deg) translate(0, 0) scale(1, 1);
        }
        15% {
            transform: rotate(0deg) translate(0, -300%) scale(0.5, 1);
        }
        20% {
            transform: rotate(0deg) translate(0, -300%) scale(0.5, 0.5) rotate(180deg);
        }
        25% {
            transform: rotate(0deg) translate(0, -300%) scale(1, 0.25) rotate(180deg);
        }
        30% {
            transform: rotate(0deg) translate(0, -150%) scale(1, 0.125);
        }
        35% {
            transform: rotate(0deg) translate(-50%, -150%) scale(1, 0.125);
        }
        40% {
            transform: rotate(0deg) translate(50%, -150%) scale(1, 0.125);
        }
        45% {
            transform: rotate(0deg) translate(0, -150%) scale(0.125, 1);
        }
        50% {
            transform: rotate(0deg) translate(0, -150%) scale(0.25, 0.125);
            border-radius: 0;
        }
        55% {
            transform: rotate(0deg) translate(0, -200%) scale(0.5, 0.5);
            border-radius: 100%;
        }
        60% {
            transform: rotate(0deg) translate(0, 0) scale(0.5, 0.5);
        }
        65% {
            transform: rotate(0deg) translate(0, -300%) scale(0.25, 1);
            border-radius: 0;
        }
        70% {
            transform: rotate(0deg) translate(0, -300%) scale(0.25, 0.25);
        }
        75% {
            transform: rotate(0deg) translate(0, -200%) scale(0.5, 0.5);
        }
        80% {
            transform: rotate(0deg) translate(0, -200%) scale(0.5, 0.5) rotate(180deg) translate(-100%, 100%);
        }
        85% {
            transform: rotate(0deg) translate(0, -200%) scale(0.5, 0.25);
        }
        90% {
            transform: rotate(0deg) translate(0, 0) scale(0.25, 0.5);
        }
        100% {      
            transform: rotate(0deg) translate(0, -1000%) scale(0.125, 1);
        }
    }

    @keyframes dance-2 {
        0% {
            transform: translate(0, 0) scale(0.1, 0.1);
        }
        5% {
            transform: rotate(36deg) translate(0, 0) scale(1, 1);
        }
        10% {
            transform: rotate(36deg) translate(0, 0) scale(1, 1);
        }
        15% {
            transform: rotate(36deg) translate(0, -300%) scale(0.5, 1);
        }
        20% {
            transform: rotate(36deg) translate(0, -300%) scale(0.5, 0.5) rotate(180deg);
        }
        25% {
            transform: rotate(36deg) translate(0, -300%) scale(1, 0.25) rotate(180deg);
        }
        30% {
            transform: rotate(36deg) translate(0, -150%) scale(1, 0.125);
        }
        35% {
            transform: rotate(36deg) translate(-50%, -150%) scale(1, 0.125);
        }
        40% {
            transform: rotate(36deg) translate(50%, -150%) scale(1, 0.125);
        }
        45% {
            transform: rotate(36deg) translate(0, -150%) scale(0.125, 1);
        }
        50% {
            transform: rotate(36deg) translate(0, -150%) scale(0.25, 0.125);
            border-radius: 0;
        }
        55% {
            transform: rotate(36deg) translate(0, -200%) scale(0.5, 0.5);
            border-radius: 100%;
        }
        60% {
            transform: rotate(36deg) translate(0, 0) scale(0.5, 0.5);
        }
        65% {
            transform: rotate(36deg) translate(0, -300%) scale(0.25, 1);
            border-radius: 0;
        }
        70% {
            transform: rotate(36deg) translate(0, -300%) scale(0.25, 0.25);
        }
        75% {
            transform: rotate(36deg) translate(0, -200%) scale(0.5, 0.5);
        }
        80% {
            transform: rotate(36deg) translate(0, -200%) scale(0.5, 0.5) rotate(180deg) translate(-100%, 100%);
        }
        85% {
            transform: rotate(36deg) translate(0, -200%) scale(0.5, 0.25);
        }
        90% {
            transform: rotate(36deg) translate(0, 0) scale(0.25, 0.5);
        }
        100% {      
            transform: rotate(36deg) translate(0, -1000%) scale(0.125, 1);
        }
    }

    @keyframes dance-3 {
        0% {
            transform: translate(0, 0) scale(0.1, 0.1);
        }
        5% {
            transform: rotate(72deg) translate(0, 0) scale(1, 1);
        }
        10% {
            transform: rotate(72deg) translate(0, 0) scale(1, 1);
        }
        15% {
            transform: rotate(72deg) translate(0, -300%) scale(0.5, 1);
        }
        20% {
            transform: rotate(72deg) translate(0, -300%) scale(0.5, 0.5) rotate(180deg);
        }
        25% {
            transform: rotate(72deg) translate(0, -300%) scale(1, 0.25) rotate(180deg);
        }
        30% {
            transform: rotate(72deg) translate(0, -150%) scale(1, 0.125);
        }
        35% {
            transform: rotate(72deg) translate(-50%, -150%) scale(1, 0.125);
        }
        40% {
            transform: rotate(72deg) translate(50%, -150%) scale(1, 0.125);
        }
        45% {
            transform: rotate(72deg) translate(0, -150%) scale(0.125, 1);
        }
        50% {
            transform: rotate(72deg) translate(0, -150%) scale(0.25, 0.125);
            border-radius: 0;
        }
        55% {
            transform: rotate(72deg) translate(0, -200%) scale(0.5, 0.5);
            border-radius: 100%;
        }
        60% {
            transform: rotate(72deg) translate(0, 0) scale(0.5, 0.5);
        }
        65% {
            transform: rotate(72deg) translate(0, -300%) scale(0.25, 1);
            border-radius: 0;
        }
        70% {
            transform: rotate(72deg) translate(0, -300%) scale(0.25, 0.25);
        }
        75% {
            transform: rotate(72deg) translate(0, -200%) scale(0.5, 0.5);
        }
        80% {
            transform: rotate(72deg) translate(0, -200%) scale(0.5, 0.5) rotate(180deg) translate(-100%, 100%);
        }
        85% {
            transform: rotate(72deg) translate(0, -200%) scale(0.5, 0.25);
        }
        90% {
            transform: rotate(72deg) translate(0, 0) scale(0.25, 0.5);
        }
        100% {      
            transform: rotate(72deg) translate(0, -1000%) scale(0.125, 1);
        }
    }

    @keyframes dance-4 {
        0% {
            transform: translate(0, 0) scale(0.1, 0.1);
        }
        5% {
            transform: rotate(108deg) translate(0, 0) scale(1, 1);
        }
        10% {
            transform: rotate(108deg) translate(0, 0) scale(1, 1);
        }
        15% {
            transform: rotate(108deg) translate(0, -300%) scale(0.5, 1);
        }
        20% {
            transform: rotate(108deg) translate(0, -300%) scale(0.5, 0.5) rotate(180deg);
        }
        25% {
            transform: rotate(108deg) translate(0, -300%) scale(1, 0.25) rotate(180deg);
        }
        30% {
            transform: rotate(108deg) translate(0, -150%) scale(1, 0.125);
        }
        35% {
            transform: rotate(108deg) translate(-50%, -150%) scale(1, 0.125);
        }
        40% {
            transform: rotate(108deg) translate(50%, -150%) scale(1, 0.125);
        }
        45% {
            transform: rotate(108deg) translate(0, -150%) scale(0.125, 1);
        }
        50% {
            transform: rotate(108deg) translate(0, -150%) scale(0.25, 0.125);
            border-radius: 0;
        }
        55% {
            transform: rotate(108deg) translate(0, -200%) scale(0.5, 0.5);
            border-radius: 100%;
        }
        60% {
            transform: rotate(108deg) translate(0, 0) scale(0.5, 0.5);
        }
        65% {
            transform: rotate(108deg) translate(0, -300%) scale(0.25, 1);
            border-radius: 0;
        }
        70% {
            transform: rotate(108deg) translate(0, -300%) scale(0.25, 0.25);
        }
        75% {
            transform: rotate(108deg) translate(0, -200%) scale(0.5, 0.5);
        }
        80% {
            transform: rotate(108deg) translate(0, -200%) scale(0.5, 0.5) rotate(180deg) translate(-100%, 100%);
        }
        85% {
            transform: rotate(108deg) translate(0, -200%) scale(0.5, 0.25);
        }
        90% {
            transform: rotate(108deg) translate(0, 0) scale(0.25, 0.5);
        }
        100% {      
            transform: rotate(108deg) translate(0, -1000%) scale(0.125, 1);
        }
    }
    
    @keyframes dance-5 {
        0% {
            transform: translate(0, 0) scale(0.1, 0.1);
        }
        5% {
            transform: rotate(144deg) translate(0, 0) scale(1, 1);
        }
        10% {
            transform: rotate(144deg) translate(0, 0) scale(1, 1);
        }
        15% {
            transform: rotate(144deg) translate(0, -300%) scale(0.5, 1);
        }
        20% {
            transform: rotate(144deg) translate(0, -300%) scale(0.5, 0.5) rotate(180deg);
        }
        25% {
            transform: rotate(144deg) translate(0, -300%) scale(1, 0.25) rotate(180deg);
        }
        30% {
            transform: rotate(144deg) translate(0, -150%) scale(1, 0.125);
        }
        35% {
            transform: rotate(144deg) translate(-50%, -150%) scale(1, 0.125);
        }
        40% {
            transform: rotate(144deg) translate(50%, -150%) scale(1, 0.125);
        }
        45% {
            transform: rotate(144deg) translate(0, -150%) scale(0.125, 1);
        }
        50% {
            transform: rotate(144deg) translate(0, -150%) scale(0.25, 0.125);
            border-radius: 0;
        }
        55% {
            transform: rotate(144deg) translate(0, -200%) scale(0.5, 0.5);
            border-radius: 100%;
        }
        60% {
            transform: rotate(144deg) translate(0, 0) scale(0.5, 0.5);
        }
        65% {
            transform: rotate(144deg) translate(0, -300%) scale(0.25, 1);
            border-radius: 0;
        }
        70% {
            transform: rotate(144deg) translate(0, -300%) scale(0.25, 0.25);
        }
        75% {
            transform: rotate(144deg) translate(0, -200%) scale(0.5, 0.5);
        }
        80% {
            transform: rotate(144deg) translate(0, -200%) scale(0.5, 0.5) rotate(180deg) translate(-100%, 100%);
        }
        85% {
            transform: rotate(144deg) translate(0, -200%) scale(0.5, 0.25);
        }
        90% {
            transform: rotate(144deg) translate(0, 0) scale(0.25, 0.5);
        }
        100% {      
            transform: rotate(144deg) translate(0, -1000%) scale(0.125, 1);
        }
    }
    
    @keyframes dance-6 {
        0% {
            transform: translate(0, 0) scale(0.1, 0.1);
        }
        5% {
            transform: rotate(180deg) translate(0, 0) scale(1, 1);
        }
        10% {
            transform: rotate(180deg) translate(0, 0) scale(1, 1);
        }
        15% {
            transform: rotate(180deg) translate(0, -300%) scale(0.5, 1);
        }
        20% {
            transform: rotate(180deg) translate(0, -300%) scale(0.5, 0.5) rotate(180deg);
        }
        25% {
            transform: rotate(180deg) translate(0, -300%) scale(1, 0.25) rotate(180deg);
        }
        30% {
            transform: rotate(180deg) translate(0, -150%) scale(1, 0.125);
        }
        35% {
            transform: rotate(180deg) translate(-50%, -150%) scale(1, 0.125);
        }
        40% {
            transform: rotate(180deg) translate(50%, -150%) scale(1, 0.125);
        }
        45% {
            transform: rotate(180deg) translate(0, -150%) scale(0.125, 1);
        }
        50% {
            transform: rotate(180deg) translate(0, -150%) scale(0.25, 0.125);
            border-radius: 0;
        }
        55% {
            transform: rotate(180deg) translate(0, -200%) scale(0.5, 0.5);
            border-radius: 100%;
        }
        60% {
            transform: rotate(180deg) translate(0, 0) scale(0.5, 0.5);
        }
        65% {
            transform: rotate(180deg) translate(0, -300%) scale(0.25, 1);
            border-radius: 0;
        }
        70% {
            transform: rotate(180deg) translate(0, -300%) scale(0.25, 0.25);
        }
        75% {
            transform: rotate(180deg) translate(0, -200%) scale(0.5, 0.5);
        }
        80% {
            transform: rotate(180deg) translate(0, -200%) scale(0.5, 0.5) rotate(180deg) translate(-100%, 100%);
        }
        85% {
            transform: rotate(180deg) translate(0, -200%) scale(0.5, 0.25);
        }
        90% {
            transform: rotate(180deg) translate(0, 0) scale(0.25, 0.5);
        }
        100% {      
            transform: rotate(180deg) translate(0, -1000%) scale(0.125, 1);
        }
    }
    
    @keyframes dance-7 {
        0% {
            transform: translate(0, 0) scale(0.1, 0.1);
        }
        5% {
            transform: rotate(216deg) translate(0, 0) scale(1, 1);
        }
        10% {
            transform: rotate(216deg) translate(0, 0) scale(1, 1);
        }
        15% {
            transform: rotate(216deg) translate(0, -300%) scale(0.5, 1);
        }
        20% {
            transform: rotate(216deg) translate(0, -300%) scale(0.5, 0.5) rotate(180deg);
        }
        25% {
            transform: rotate(216deg) translate(0, -300%) scale(1, 0.25) rotate(180deg);
        }
        30% {
            transform: rotate(216deg) translate(0, -150%) scale(1, 0.125);
        }
        35% {
            transform: rotate(216deg) translate(-50%, -150%) scale(1, 0.125);
        }
        40% {
            transform: rotate(216deg) translate(50%, -150%) scale(1, 0.125);
        }
        45% {
            transform: rotate(216deg) translate(0, -150%) scale(0.125, 1);
        }
        50% {
            transform: rotate(216deg) translate(0, -150%) scale(0.25, 0.125);
            border-radius: 0;
        }
        55% {
            transform: rotate(216deg) translate(0, -200%) scale(0.5, 0.5);
            border-radius: 100%;
        }
        60% {
            transform: rotate(216deg) translate(0, 0) scale(0.5, 0.5);
        }
        65% {
            transform: rotate(216deg) translate(0, -300%) scale(0.25, 1);
            border-radius: 0;
        }
        70% {
            transform: rotate(216deg) translate(0, -300%) scale(0.25, 0.25);
        }
        75% {
            transform: rotate(216deg) translate(0, -200%) scale(0.5, 0.5);
        }
        80% {
            transform: rotate(216deg) translate(0, -200%) scale(0.5, 0.5) rotate(180deg) translate(-100%, 100%);
        }
        85% {
            transform: rotate(216deg) translate(0, -200%) scale(0.5, 0.25);
        }
        90% {
            transform: rotate(216deg) translate(0, 0) scale(0.25, 0.5);
        }
        100% {      
            transform: rotate(216deg) translate(0, -1000%) scale(0.125, 1);
        }
    }
    
    @keyframes dance-8 {
        0% {
            transform: translate(0, 0) scale(0.1, 0.1);
        }
        5% {
            transform: rotate(252deg) translate(0, 0) scale(1, 1);
        }
        10% {
            transform: rotate(252deg) translate(0, 0) scale(1, 1);
        }
        15% {
            transform: rotate(252deg) translate(0, -300%) scale(0.5, 1);
        }
        20% {
            transform: rotate(252deg) translate(0, -300%) scale(0.5, 0.5) rotate(180deg);
        }
        25% {
            transform: rotate(252deg) translate(0, -300%) scale(1, 0.25) rotate(180deg);
        }
        30% {
            transform: rotate(252deg) translate(0, -150%) scale(1, 0.125);
        }
        35% {
            transform: rotate(252deg) translate(-50%, -150%) scale(1, 0.125);
        }
        40% {
            transform: rotate(252deg) translate(50%, -150%) scale(1, 0.125);
        }
        45% {
            transform: rotate(252deg) translate(0, -150%) scale(0.125, 1);
        }
        50% {
            transform: rotate(252deg) translate(0, -150%) scale(0.25, 0.125);
            border-radius: 0;
        }
        55% {
            transform: rotate(252deg) translate(0, -200%) scale(0.5, 0.5);
            border-radius: 100%;
        }
        60% {
            transform: rotate(252deg) translate(0, 0) scale(0.5, 0.5);
        }
        65% {
            transform: rotate(252deg) translate(0, -300%) scale(0.25, 1);
            border-radius: 0;
        }
        70% {
            transform: rotate(252deg) translate(0, -300%) scale(0.25, 0.25);
        }
        75% {
            transform: rotate(252deg) translate(0, -200%) scale(0.5, 0.5);
        }
        80% {
            transform: rotate(252deg) translate(0, -200%) scale(0.5, 0.5) rotate(180deg) translate(-100%, 100%);
        }
        85% {
            transform: rotate(252deg) translate(0, -200%) scale(0.5, 0.25);
        }
        90% {
            transform: rotate(252deg) translate(0, 0) scale(0.25, 0.5);
        }
        100% {      
            transform: rotate(252deg) translate(0, -1000%) scale(0.125, 1);
        }
    }
    
    @keyframes dance-9 {
        0% {
            transform: translate(0, 0) scale(0.1, 0.1);
        }
        5% {
            transform: rotate(288deg) translate(0, 0) scale(1, 1);
        }
        10% {
            transform: rotate(288deg) translate(0, 0) scale(1, 1);
        }
        15% {
            transform: rotate(288deg) translate(0, -300%) scale(0.5, 1);
        }
        20% {
            transform: rotate(288deg) translate(0, -300%) scale(0.5, 0.5) rotate(180deg);
        }
        25% {
            transform: rotate(288deg) translate(0, -300%) scale(1, 0.25) rotate(180deg);
        }
        30% {
            transform: rotate(288deg) translate(0, -150%) scale(1, 0.125);
        }
        35% {
            transform: rotate(288deg) translate(-50%, -150%) scale(1, 0.125);
        }
        40% {
            transform: rotate(288deg) translate(50%, -150%) scale(1, 0.125);
        }
        45% {
            transform: rotate(288deg) translate(0, -150%) scale(0.125, 1);
        }
        50% {
            transform: rotate(288deg) translate(0, -150%) scale(0.25, 0.125);
            border-radius: 0;
        }
        55% {
            transform: rotate(288deg) translate(0, -200%) scale(0.5, 0.5);
            border-radius: 100%;
        }
        60% {
            transform: rotate(288deg) translate(0, 0) scale(0.5, 0.5);
        }
        65% {
            transform: rotate(288deg) translate(0, -300%) scale(0.25, 1);
            border-radius: 0;
        }
        70% {
            transform: rotate(288deg) translate(0, -300%) scale(0.25, 0.25);
        }
        75% {
            transform: rotate(288deg) translate(0, -200%) scale(0.5, 0.5);
        }
        80% {
            transform: rotate(288deg) translate(0, -200%) scale(0.5, 0.5) rotate(180deg) translate(-100%, 100%);
        }
        85% {
            transform: rotate(288deg) translate(0, -200%) scale(0.5, 0.25);
        }
        90% {
            transform: rotate(288deg) translate(0, 0) scale(0.25, 0.5);
        }
        100% {      
            transform: rotate(288deg) translate(0, -1000%) scale(0.125, 1);
        }
    }
    
    @keyframes dance-10 {
        0% {
            transform: translate(0, 0) scale(0.1, 0.1);
        }
        5% {
            transform: rotate(324deg) translate(0, 0) scale(1, 1);
        }
        10% {
            transform: rotate(324deg) translate(0, 0) scale(1, 1);
        }
        15% {
            transform: rotate(324deg) translate(0, -300%) scale(0.5, 1);
        }
        20% {
            transform: rotate(324deg) translate(0, -300%) scale(0.5, 0.5) rotate(180deg);
        }
        25% {
            transform: rotate(324deg) translate(0, -300%) scale(1, 0.25) rotate(180deg);
        }
        30% {
            transform: rotate(324deg) translate(0, -150%) scale(1, 0.125);
        }
        35% {
            transform: rotate(324deg) translate(-50%, -150%) scale(1, 0.125);
        }
        40% {
            transform: rotate(324deg) translate(50%, -150%) scale(1, 0.125);
        }
        45% {
            transform: rotate(324deg) translate(0, -150%) scale(0.125, 1);
        }
        50% {
            transform: rotate(324deg) translate(0, -150%) scale(0.25, 0.125);
            border-radius: 0;
        }
        55% {
            transform: rotate(324deg) translate(0, -200%) scale(0.5, 0.5);
            border-radius: 100%;
        }
        60% {
            transform: rotate(324deg) translate(0, 0) scale(0.5, 0.5);
        }
        65% {
            transform: rotate(324deg) translate(0, -300%) scale(0.25, 1);
            border-radius: 0;
        }
        70% {
            transform: rotate(324deg) translate(0, -300%) scale(0.25, 0.25);
        }
        75% {
            transform: rotate(324deg) translate(0, -200%) scale(0.5, 0.5);
        }
        80% {
            transform: rotate(324deg) translate(0, -200%) scale(0.5, 0.5) rotate(180deg) translate(-100%, 100%);
        }
        85% {
            transform: rotate(324deg) translate(0, -200%) scale(0.5, 0.25);
        }
        90% {
            transform: rotate(324deg) translate(0, 0) scale(0.25, 0.5);
        }
        100% {      
            transform: rotate(324deg) translate(0, -1000%) scale(0.125, 1);
        }
    }        
}