.challenge {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;

    background-color: #33383f;

    .scene {
        background-color: #7ddffc;
        width: 50%;
        height: 50%;
        overflow: hidden;
        position: relative;
        border-radius: 100%;
        animation: fade 4s ease-in-out infinite;

        .sand {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 70%;
            background-color: #f0de75;
        }

        .sun {
            position: absolute;
            width: 15%;
            height: 15%;
            top: 10%;
            left: 40%;
            border-radius: 100%;
            transform-origin: 50% 500%;
            animation: sun-moves 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
        }

        .pyramid {
            position: absolute;
            top: 45%;
            left: 50%;
            width: 50%;
            height: 50%;
            transform: translateX(-50%) rotate(45deg);

            &.p-1 {
                animation: p1-color 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
            }

            &.p-2 {
                clip-path: polygon(180% 100%, 100% 0%, 0% 0%);
                animation: p2-color 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
            }
        }

        @keyframes sun-moves {
            0% {
                background-color: #F57209;
                transform: rotate(-120deg);
            }
            30% {
                background-color: #ffee00;
                transform: rotate(-20deg);
            }
            100% {     
                background-color: #F57209; 
                transform: rotate(100deg);
            }
        }
        
        @keyframes p1-color {
            0% {
                background-color: #d3d4d5;
            }
            30% {
                background-color: #fff;
            }
            100% {     
                background-color: #d3d4d5;
            }
        }

        @keyframes p2-color {
            0% {
                background-color: #969aa0;
            }
            30% {
                background-color: #F4F4F4;
            }
            100% {     
                background-color: #fff;
            }
        }

        @keyframes fade {
            0% {
                opacity: 0;
            }
            30% {
                opacity: 1;
            }
            100% {     
                opacity: 0;
            }
        }
    }
}