.challenge {
    display: flex;
    align-items: center;
    
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    
    div {  
        height: 100%;
        width: 25%;
        color: transparent;
        transition: width 0.25s linear, color 0.25s linear;
        text-align: center;
        text-transform: uppercase;

        display: grid;        
        justify-items: center;
        align-items: center;
        
        &:nth-child(2n) {
            background-color: #e67e22;
        }

        &:nth-child(2n+1) {
            background-color: #34495e;
        }

        &:hover {
            color: white;
            width: 100%;
        }
    }
}