.challenge {
    background: #F2F2B6;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    
    div {  
        width: 0px;
        height: 0px;
        position: absolute;
        border: 3.5em solid transparent;
        border-left-width: 2em;
        border-right-width: 2em;
        
        &:nth-child(1) {            
            top: calc(50% - 3.5em*1/2);
            right: 45%;
            border-top-color:#FD4602;
        }

        &:nth-child(2) {           
            top: calc(50% - 3.5em*1/2);
            right: 50%;
            border-top-color:#FF6D00;
        }

        &:nth-child(3) {            
            top: calc(50% - 3.5em*3/2);
            left: 50%;
            border-bottom-color:#FF6D00;
        }

        &:nth-child(4) {            
            top: calc(50% - 3.5em*3/2);
            left: 45%;
            border-bottom-color:#FD4602;
        }
    }
}