.challenge {
    background-color: #34495e;
    display: grid;
    justify-items: center;
    align-items: center;

    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 1rem;

    .container {
        display: grid;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: 
            "center-area"
            ".";

        .rotatedBox {
            display: grid;    
            grid-area: center-area;        
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: 
                "."
                "bottom-box";
        }

        .secret,
        .secret-text,
        input {
            grid-area: bottom-box;
        }

        .box {
            border: none;
            padding: 0.8rem 0.4rem;
            text-align: center;
        }

        input {
            z-index: 10;
            color: #34495e;
        }
        
        .secret-text {
            z-index: -10;
             
            -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);

            background-color: white;
            color: #34495e;
            
            text-align: center;
            font-weight: 700;           
        }

        .secret {
            background-color: #64c760;
            color: #fff;
            text-transform: uppercase;
        }

        .show {            
            -webkit-animation: showSecret 1s linear forwards;
            animation: showSecret 1s linear forwards;
            transform-style: preserve-3d;
        }
        
        @keyframes showSecret {
            from {
                -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
            }
            to {
                -webkit-transform: rotateX(180deg);
                transform: rotateX(180deg);
            }
        }
    }
}