.challenge {
    background-color: #34495e;
    display: grid;
    justify-items: center;
    align-items: center;

    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 1rem;

    .container {
        position: relative;

        .box {
            border: none;
            padding: 0.8rem 0.4rem;
            text-align: center;
        }

        input {
            color: #34495e;
        }

        .secret {
            background-color: #64c760;
            color: #fff;
            text-transform: uppercase;
        }
        
        .secret-text {
            color: #34495e;
            font-weight: 700;
        }
    }
}