.challenge {
    background-color: #34495e;
    display: grid;
    justify-items: center;
    align-items: center;

    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 1rem;

    .container {
        position: relative;

        .rotatedBox {
            color: wheat
        }

        .box {
            border: none;
            padding: 0.8rem 0.4rem;
            text-align: center;
        }

        input {
            color: #34495e;
        }

        .secret {
            background-color: #64c760;
            color: #fff;
            text-transform: uppercase;
        }
        
        .secret-text {
            color: #34495e;
            font-weight: 700;
        }

        .show {            
            -webkit-animation: showSecret 2s ease-in-out forwards;
            animation: showSecret 2s ease-in-out forwards;
            transform-style: preserve-3d;
        }
        
        @keyframes showSecret {
            from {
                -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
            }
            to {
                -webkit-transform: rotateX(180deg);
                transform: rotateX(180deg);
            }
        }
    }
}