.challenge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #313c46;
    gap: 5%;

    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 1rem;

    .displayer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 3px;
        padding: 0em .5em;

        .char {
            color: #478bb8;
            font-size: 1.3em;
            width: 1em;
            height: 1.5em;
            text-align: center;
        }
    }
    
    .actions {
        position: relative;
        width: 7%;
        height: 7%;

        .visual {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .pause {
                background-color: #ffffff;
                width: 25%;
                height: 100%;
            }

            .un-pause {
                width: 0;
                height: 0;
                border: 1em solid transparent;
                border-top-width: .6em;
                border-bottom-width: .6em;
                border-left-color: transparent;
                border-left-color: #fff;
                position: relative;
                left: 30%;
            }
        }

        button {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
        }
    }
}