.challenge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0f0e5;

    .base {
        width: 25%;
        height: 1.5%;
        background-color: #b9d6c2;
        border-radius: 10px; 
        animation: structure-grow .7s ease-in-out forwards;       
    }
 
    .tree {
        height: 80%;
        width: 35%;
        position: relative;

        .leafs {
            position: absolute;
            top: 0;
            width: 100%;
            height: 80%;
            display: flex;  

            div {
                position: absolute;
                height: 100%;
                animation: leafs-grow .7s ease-in-out forwards .7s;  

                &:nth-child(1) {
                    right: 50%;
                    background-color: #ba381d;
                    clip-path: polygon(100% 100%, 100% 0, 0 100%);
                }
        
                &:nth-child(2) {
                    left: 50%;
                    background-color: #e84624;
                    clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
                }
            }
        }

        .structure {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 75%;
            transform-origin: 50% 100%;
            animation: structure-grow .7s ease-in-out forwards;
            
            .trunk {
                position: absolute;
                width: 4%;
                height: 100%;
                right: 50%;
                transform: translate(50%);                
                border-radius: 10px 10px 0 0;
                background-color: #e8c87e;
            }

            .branch-container {
                position: absolute;
                width: 50%;

                .branch {
                    position: absolute;
                    width: 8%;
                    height: 80%;
                    right: 0;
                    border-radius: 10px;
                    background-color: #e8c87e;
                    transform-origin: 50% 90%;
                }

                &.right {
                    right: 0;

                    .branch {
                        right: initial;
                        left: 0;
                    }
                }

                &:nth-child(2) {
                    height: 10%;
                    top: 2%;

                    .branch {
                        transform: rotate(-45deg);
                    }
                }

                &:nth-child(3) {
                    height: 15%;
                    top: 12%;
                    
                    .branch {
                        transform: rotate(45deg);
                    }
                }

                &:nth-child(4) {
                    height: 20%;
                    top: 22%;
                    
                    .branch {
                        transform: rotate(-45deg);
                    }
                }

                &:nth-child(5) {
                    height: 25%;
                    top: 35%;
                    
                    .branch {
                        transform: rotate(45deg);
                    }
                }

                &:nth-child(6) {
                    height: 30%;
                    top: 45%;
                    
                    .branch {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}

@keyframes structure-grow {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
} 

@keyframes leafs-grow {
    0% {
        width: 0%;
    }
    60% {
        width: 55%;
    }
    80% {
        width: 45%;
    }
    100% {
        width: 50%;
    }
}           