.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .5em;

    &:hover {
        cursor: pointer;
    }

    input[type="checkbox"] {
        display: none;
    }

    .label {
        opacity: 1;
        transition: opacity .5s ease-out;
        text-align: left;
    }

    input:checked ~ .label,
    input:checked ~ .fakeCheckbox {
        opacity: 0.5;
    }

    .fakeCheckbox {
        width: 1em;
        height: 1em;
        border-radius: 100%;
        opacity: 1;
        transform: scale(1);
        border: 1px solid #497081;
        transition: all .4s ease-in;
    }
    
    input:checked ~ .fakeCheckbox {
        opacity: 0;
        transform: scale(1.5);
    }
}